[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
newrelic = "*"
pydantic = "*"
requests = "*"
boto3 = "*"

[dev-packages]
pylint = "*"
pylint-quotes = "*"
pytest = "*"
pytest-cov = "*"
alchemy-mock = "*"

[requires]
python_version = "3.9"
